
.header {
  background: #fff;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
}
.left{
  border-bottom-left-radius: 8px;
  height: 100%;
  width: 100%;
  background: #fce4ec;
  padding: 85px 0px 120px 104px;
}
.right{
  border-bottom-right-radius: 8px;
  height: 100%;
  background: #fff;
  width: 100%;
  padding: 85px 120px 120px 0px;
}

.title {
  margin-top: 24px;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 64px;
  font-weight: 400;
}

.transaction-container {
  display: flex;
  gap: 20px;
}

.form-section {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 20px;
  background: #fff;
  height: 700px;
}
.transaction-section {
  height: 700px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px;
  background: #fce4ec;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.account-button {
  background-color: #f48fb1;
  border: none;
}

.qr-button {
  background-color: #fff;
  border: 1px solid #f48fb1;
}

.submit-button {
  border: none;
  width: 100%;
  height: 40px;
}

.transaction-header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
  font-weight: bold;
}

.transaction-info .info-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.total-row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.amount-input {
  width: 100%;
  margin-top: 10px;
}

.custom-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ant-steps-custom .ant-steps-item {
  position: relative;
}

.ant-steps-custom .ant-steps-item::before {
  content: "";
  position: absolute;
  width: calc(100% - 20px);
  height: 4px;
  background-color: #260303;
  top: 50%;
  left: 0px;
  z-index: -1;
}
.ant-steps-custom .ant-steps-item:last-child::before {
  display: none;
}

.step-dot {
  width: 18px;
  height: 18px;
  background-color: #260303;
  border-radius: 50%;
  display: inline-block;
}

.step-dot.active {
  background-color: #ff4d4f;
}

